* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("/asssets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/asssets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/asssets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/asssets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/asssets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
}

:root {
  --brand-color: #ffa501;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  &.menu-open {
    overflow: hidden; /* Блокирует прокрутку, когда меню открыто */
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

.promo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/asssets/images/background.jpg");
  background-size: 1920px 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  &__content {
    width: 1140px;
    margin: 60px auto;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 0;
  }
  &__subtitle {
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 6px;
  }

  &__row {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
  }

  &__button {
    background: var(--brand-color);
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    &:hover {
      color: var(--brand-color);
    }
  }
  .burger-btn {
    width: 36px;
    height: 21px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right: 30px;
    // @media (max-width: 1024px) {
    //   display: flex;
    // }
    .line {
      &:first-child,
      &:last-child {
        width: 30px;
        height: 3px;
        border-radius: 2px;
        flex-shrink: 0;
        background: rgb(21, 24, 18);
      }
      &:nth-child(2) {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        flex-shrink: 0;
        background: rgb(21, 24, 18);
      }
    }
  }
}

.title {
  color: #000;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: var(--brand-color);
    z-index: -1;
  }
}
.subtitle {
  position: relative;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  z-index: 0;
}

.text {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

span {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.icon-bg {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--brand-color);
  z-index: -1;
}

.about {
  min-height: 100vh;
  background: #fff;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
  &__content {
    width: 1040px;
    margin: 20px auto;
    // padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 70px;
  }
  &__image {
    width: 400px;
    height: 600px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    position: relative;
    z-index: 0;
  }
  &__subtitle {
    margin-left: 10px;
    margin-top: 6px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
    grid-auto-rows: 116px;
  }
}

.benefit {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 600px;
  &__content {
    width: 1040px;
    margin: 20px auto;
    // padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__header {
    position: relative;
    text-align: center;
    .icon-bg {
      display: flex;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__title {
    &::after {
      content: "";
      display: flex;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // gap:7px;
  &__icon {
    display: flex;
    position: relative;
    width: 60px;
    flex-shrink: 0;
    z-index: 0;
    svg {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px;
  }
  &__title {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
  }
  &__text {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  display: none;
  z-index: 1000;
  &.active {
    display: block;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--brand-color, #ffa500);
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);

    &__close-btn {
      align-self: flex-end;
      font-size: 24px;
      background: none;
      border: none;
      color: #000;
      cursor: pointer;
      position: relative;
      width: 29px;

      .line {
        &:first-child {
          position: absolute;
          width: 30px;
          height: 3px;
          border-radius: 2px;
          flex-shrink: 0;
          background: rgb(21, 24, 18);
          rotate: 45deg;
          top: 50%;
          left: 50%;
        }
        &:last-child {
          position: absolute;
          width: 30px;
          height: 3px;
          border-radius: 2px;
          flex-shrink: 0;
          background: rgb(21, 24, 18);
          rotate: -45deg;
          top: 50%;
          left: 50%;
        }
      }
    }
    &__menu {
      margin-top: 90px;
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__item {
      margin-bottom: 20px;
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 50%;
        background: rgba(196, 196, 196, 0);
      }
    }
    &__link {
      text-decoration: none;
      color: #fff;
      display: flex;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;
      margin-left: 45px;
    }
    &__socials {
      display: flex;
      justify-content: space-between;
      margin: auto auto 0 auto;
      gap: 15px;
      width: 70px;
    }

    &__social-link img {
      width: 24px;
      height: 24px;
    }
  }
}
